<form>
  <input type="text" value="<%= params[:u] %>" placeholder="User" name="u" />
  <input type="password" value="<%= params[:p] %>" placeholder="Pass" name="p" />
  <input type="text" value="<%= params[:q] %>" placeholder="Query" name="q" />
  <input type="submit" value="Search" />
</form>
