<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KDD API</title>
    <meta name="description" content="KDD API" />
    <meta name="author" content="Pavel Dostál" />
    <style type="text/css">
      body { margin: 0px; padding: 25px; }

      h1 { margin: 0px; font-style: italic; }
      a { text-decoration: none; }

      footer { margin-top: 25px; }
      footer a { color: #000; }
    </style>
  </head>
  <body>
    <header>
      <h1>KDD API</h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      &copy; <a href="http://blindshell.eu/">BlindShell</a>
    </footer>
  </body>
</html>
