<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KDDAPI</title>
    <meta name="description" content="KDD API" />
    <meta name="author" content="Pavel Dostál" />
    <style type="text/css">
      body { margin: 0px; padding: 25px; }
      h1 { margin: 0px; font-style: italic; }
      form { display: block; width: 7.25em; height: 3em; }
      input[type=text] { width: 100%; }
      input[type=submit] { float: right; clear: both; }
      a { text-decoration: none; }
      footer { margin-top: 25px; }
      footer a { color: #000; }
    </style>
	</head>
	<body>
    <header>
      <h1>KDD API</h1>
    </header>
    <main>
  		<%= yield %>
    </main>
    <footer>
      &copy; <a href="http://pdostal.cz/">Pavel Dostál</a>
    </footer>
	</body>
</html>
